<div class="col-md-12">
   <div class="jumbotron">
      <h1>SaaS Application</h1>
      <p>Standard SaaS Application. Get Started Now!</p>
      <p><%= link_to "Create Account", new_account_path, class: 'btn btn-primary btn-lg' %></p>
   </div>
</div>
